* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    padding: 10px;
}

.header {
    background-color:burlywood;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.heading {
    font-size: 24px;
    color: white;
}

.main {
    background-color:orchid;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    margin-bottom: 2vh;
    padding: 10px;
}

.main a {
    color: white;
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;
}

.footer {
    background-color:burlywood;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}