* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: red;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 24px;
    color: white;
}

.main {
    background-color: blue;
    font-size: 18px;
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.footer {
    background-color: green;
    font-size: 18px;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}